*{
	margin :0px;
	padding : 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  width: 12%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.heading .site-logo {
  margin-left: 20px;
}
* {
  box-sizing: border-box;
}
.heading .site-logo .search-container {
  float: right;
}
.heading .site-logo .search-container button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.heading .site-logo .search-container button:hover {
  background: #ccc;
}
input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;

}
.hero-bg {
    background: #307D99;
    color: white;
	background-size: cover;
    text-align: center;
    padding-bottom: 50em;
	padding-top: 2em;
}
.form-design{
	position: static;

}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #515151;
  color: white;
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  margin-top:5em;
}
.footer a{
	color: white;
    text-decoration: none;
    font-weight: bold;
}

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #dedede;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
